// BOTOES
@mixin btn {
  cursor: pointer;
  transition: all .3s;
  border: none;
  border-radius: 50px;
  padding: 9px;
  color: $white-color;
  text-transform: uppercase;
  font-size: 12px;
  background: $principal-color;
  font-weight: 500;
}
// BTN SEARCH
@mixin btn-search {
  transition: all .2s;
  position: absolute;
  height: 45px;
  background: linear-gradient(to right,  rgba(30, 213, 170, 0.877), rgba(1, 180, 228, 0.452));
  cursor: pointer;
  border-radius: 50px;
  border: none;
  width: 10%;
  font-weight: bold;
  color: $white-color;
  font-size: 1rem;
}