@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';

.container-header {
  background: $principal-color;
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 15px;
    .logo img {
      width: 180px;
    }
    .nav {
      width: 300px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      a {
        @include nav-btn;
        &:hover {
          transform: scale(1.1);
        }
      }
   
    }
    .itens {    
      color: white;
      span {
        padding: 12px;
      }
    }
  }
}