@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_buttons.scss';
@import '@/assets/scss/_scrolls.scss';

.container {
  max-width: 85%;
  margin: 0 auto;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
  .bg-inpt {
    padding-top: 100px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.623), rgba(6, 13, 77, 0.452)), url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/sfjqJDmNqMIImO5khiddb9TARvO.jpg');
    .infos-inpt {
      padding: 50px 0px 50px 80px;
      color: $white-color;
      font-size: 1.3rem;
    }
    .input-search {
      max-width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 auto;
      input {
        width: 100%;
        outline: none;
        border-radius: 25px;
        border: none;
        height: 45px;
        font-size: 1.1rem;
        padding-left: 15px;
        &:not(:placeholder-shown) {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      button {
        @include btn-search;
      }
    }
    .films-search {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-height: 170px;
      margin: 0 auto;
      box-shadow: 0 14px 18px rgba(0, 0, 0, 0.336);
      overflow-x: hidden;
      background: $white-color;
      .results {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(39, 38, 38, 0.26);
        img {
          width: 45px;
          margin: 5px 0 5px 5px;
          cursor: pointer;
        }
        p {
          font-size: 1.1rem;
          padding-left: 20px;
          cursor: pointer;
        }
      }
      @include scrollbars;
    }
  }
  .selects{
    display: flex;
    padding-left: 35px;
    .title-popular {
      margin-top: 15px;
    }
    .botoes {
      border: 2px solid $principal-color;
      border-radius: 50px;
      height: 35px;
      margin: 15px 20px;
      button {
        @include btn;
      } 
      .actived {
        background: linear-gradient(to right,  rgba(30, 213, 170, 0.877), rgba(1, 180, 228, 0.452));
      }
    }
  }
  .popular-filmes {
    overflow-x: scroll;
    overflow-y: hidden;
    .animation-anim {
      display: flex;
      .anim-enter {
        opacity: 0;
      }
      .anim-enter-active {
        transition: opacity 3s;
      }
    }
    @include scrollbars;
    .cards-films{
      margin-top: 20px;
      padding-left: 15px;
      transition: all .3s;
      img {
        width: 150px;
        border-radius: 10px;
        cursor: pointer;
      }
      p {
        text-align: center;
        text-transform: capitalize;
      }
      .nota {
        margin: 5px auto;
        background: linear-gradient(to right,  rgba(30, 213, 170, 0.877), rgba(1, 180, 228, 0.452));
        width: 50px;
        color: $white-color;
        font-size: 14px;
        border-radius: 20px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }    
  }
}
