.container-geral {
  .img-fundo{
    width: 100vw;
    .color-img {
      position: absolute;
      background: rgba(0, 0, 0, 0.767);
      width: 100%;
      height: 600px;
    }
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
  .container {
    display: flex;
    align-items: center;
    height: 500px;
    position: absolute;
    left: 270px;
    .container-infos {
      display: flex;
      z-index: 3;
      color: #FFF;
      .img-film {
        width: 300px;
        padding-right: 25px;
        img {
          width: 100%;
        }
      }
      .infos-film {
        width: 800px;
        .titulo {
          font-size: 1.5rem;
        }
        .infos {
          display: flex;
          p {
            padding: 0px 8px 28px 0;
          }
        }
        .sinopse {
          h2 {
            padding: 0 0 20px 0;
          }
        }
      }
    }
  }
  .titulo-elenc {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  }
  .elenco {
    display: flex;
    align-items: center;
    max-width: 1500px;
    overflow-y: hidden;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px #0216272d;   
    text-align: center;
    &::-webkit-scrollbar {
      width: 10px;  
      height: 12px;  
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;    
      border: 2px solid gray;
      border-radius: 50px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: #032038;    
      border-radius: 50px;       
    }
    .infos-elenc {
      display: flex;
      flex-direction: column;
      margin: 10px;
      box-shadow: 1px 1px 10px 1px #0216272f;
      border-radius: 10px; 
      cursor: pointer;
      transition: all .3s;
      img {
        border-radius: 10px;
        width: 150px;
      }
      .elenc-name {
        font-weight: bold;
        font-size: 15px;
        color: #000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .elenc-chatacter {
        font-size: 13px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.anim-enter {
  opacity: 0;
}
.anim-enter-active {
  transition: opacity .7s;
}