.container-header {
  background: #032541;
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 15px;
    .logo img {
      width: 180px;
    }
    ul {
      width: 300px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        color: white;
      }
    }
    .itens {    
      color: white;
      span {
        padding: 12px;
      }
    }
  }
}